
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdf6e3; /* 따뜻한 크림색 배경 */
  }
  
  .login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    min-height: 500px;
    display: flex; /* Flexbox를 사용 */
    flex-direction: column; /* 요소들을 세로 방향으로 정렬 */

    gap: 20px; /* 내부 요소들 사이의 간격 */
  }
  
  
  
  .login-text, .warning {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .login-text {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .warning {
    color: #d9534f; /* 경고 메시지 색상 */
    font-size: 14px;
  }
  
  .member-id, .member-pw {
    margin-bottom: 20px;
  }
  
  .member-id p, .member-pw p, .find-join p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    height : 20px;
  }
  
  .find-join p a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffd700; /* 따뜻한 노란색 */
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .google-member-login a {
    display: inline-block;
    margin-top: 20px;
    background-color: #db4437; /* Google 로그인 버튼 색상 */
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
  }
