.map-page {
  position: relative;
  height: 120vh;
  width: 100vw;
  overflow: hidden;
}

.search-results-pagination {
  position: absolute;
  left: 20px;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  z-index: 5;
}

.search-bar {
  display: flex;
  width: 600px;
  max-width: 650px; /* 기존보다 너비를 증가 */
  margin-bottom: 20px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 1px rgba(0, 0, 0, 0.5);
}

.search-bar button {
  padding: 15px 25px; /* 패딩 증가 */
  border: none;
  background-color: #ffd700;
  color: white;
  cursor: pointer;
}

.search-bar input:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
  
.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #ffd700;
  color: white;
  cursor: pointer;
}

.results-list {
  flex: 1;
  overflow-y: auto;
  border-radius: 20px;
  width: 100%;
  max-width: 650px;
}

.results-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.results-list li {
  cursor: pointer;
  margin-bottom: 15px; /* 여백 증가 */
  padding: 15px; /* 패딩 증가 */
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.5);
}

.results-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* 기존 그림자를 더 강조 */
}

.results-list li:hover, .pagination button:hover {
  transform: translateY(-5px); /* 마우스 오버 시 위로 이동 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 마우스 오버 시 그림자 효과 추가 */
}

.pagination button {
  background-color: #116814;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 5px 10px 5px; /* 좌우 여백 추가 */
}

.pagination {
  align-items: flex-start; /* 페이지네이션 버튼 왼쪽 정렬 */
}

.map-container-main-page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: -1;
}
